{%extends 'layout.html'%}
{%block style%}
    Question 6
{%endblock style%}
{%block content%}
    <div class="quiz-container">
        <p>CLIMATE CHANGE QUIZ</p>
        <div class="quiz-header">
            <h3>Awesome Quiz Application</h3>
            <h3>Score: {{session.get('score',0)}} </h3>
        </div>
        <div class="quizbody">
            <h2>6. Which of the following is a greenhouse gas?</h2>
        </div>
            <form action="/q6" method="post">
                <div>
                    <input type="radio" name="option" id="option1" value="1">
                    <label for="option1" class="option-1">To protect biodiversity and end the deforestation of the world’s rainforests</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option2" value="2">
                    <label for="option2" class="option-2">To keep global temperature rise well below 2℃ pre-industrial levels and to pursue a path to limit warming to 1.5℃</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option3" value="3">
                    <label for="option3" class="option-3">To limit sea level rise to 3 feet above current levels</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option4" value="4">
                    <label for="option4" class="option-4">To pursue a goal of 100% clean, renewable energy</label>
                </div>
                <button type="submit">Submit</button>
            </form>
        <div class="quiz-footer">
            <h4>1 of 5 Questions</h4>
            <a href="/leaderboard"><button>Leaderboard</button></a>
        </div>
    </div>

{%endblock content%}