<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <div class="quiz-container">
        <p>CLIMATE CHANGE QUIZ</p>
        <div class="quiz-header">
            <h3>Awesome Quiz Application</h3>
            <h3>Score: </h3>
        </div>
        <div class="quizbody">
            <h2>1. What does HTML stands for?</h2>
        </div>
            <form action="">
                <div>
                    <label for="">HyperText Preprocessor</label>
                    <input type="radio" name="option" id="radioButtonContainerId" value="1">
                </div>
                <div>
                    <label for="">Hyper Text Markup Language</label>
                    <input type="radio" name="option" id="radioButtonContainerId" value="2">
                </div>
                <div>
                    <label for="">Hyper Text Multiple Language</label>
                    <input type="radio" name="option" id="radioButtonContainerId" value="3">
                </div>
                <div>
                    <label for="">Hyper Tool Multi Language</label>
                    <input type="radio" name="option" id="radioButtonContainerId" value="4">
                </div>
            </form>
        <div class="quiz-footer">
            <h4>1 of 5 Questions</h4>
            <a href=""><button>Next Question</button></a>
        </div>
    </div>

    
</body>
</html>